body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #be8ce5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"], input[type="date"], button {
    margin-right: 10px;
    padding: 8px;
}

button {
    background-color: #971ac0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.remove {
    float: right;
    color: red;
    cursor: pointer;
}
